.nav{
    position: fixed;
    padding: 20px;
    top: 0;
    /* background-color: black; */
}
.nav_logo{
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}
/* .nav_black{
    background-color: #111;
} */